[Unit]
Description=mijia-hub
Requires=hciuart.service
After=network.target hciuart.service

[Service]
EnvironmentFile=/etc/default/mijia-hub
Type=simple
ExecStart=/usr/sbin/mijia-hub -pin $PIN
WorkingDirectory=/var/lib/mijia-hub

[Install]
WantedBy=multi-user.target
